<% if current_user.present? %>
<div><%=current_user.nickname%>님, 안녕하세요!!</div>
<%= link_to "로그아웃", sessions_sign_out_path, :method=>'delete' %>
<hr />
<% else %> <%= link_to "로그인", sessions_sign_in_path %> <%= link_to "회원가입", new_user_path %>
<hr />
<% end %>

<form action="/create" method="post">
	<% if current_user.present? %>
	<input type="hidden" name="nickname" value=<%=current_user.nickname%> >
	<% else %>
	<input type="hidden" name="nickname" value="익명">
	<% end %> 
	제목:<input type="text" name="title" ><br />
	내용:<input type="text" name="content" ><br />
	<input type="submit" value="글 작성" >
</form>
<% @posts.reverse_each do |post| %>

<div style="cursor: pointer;" onclick="location='/post/<%= post.id %>';">
	<hr />
	<h3><%= post.nickname %>님의 <%= post.id %>번째 글</h3>
	<h3>제목 : <%= post.title %></h3>
	<hr />
</div>


<% if current_user.present? && session[:user_id] == 1 || current_user.present? && current_user.nickname == post.nickname %>
	<a href="/edit/<%= post.id %>">수정하기</a>
	<a href="/delete/<%= post.id %>">삭제하기</a>
<% else %>
<% end %>
<hr />
<% end %>